@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-size: .8rem;
    line-height: 1rem;
    font-family: 'JetBrains Mono', monospace;
    font-variant-ligatures: normal;
}