@import "font.css";
@import "colors.css";

.command {
    color: #FFF;
    background-color: #000;
    border: none;
    height: 1rem;
    width: max-content;
    outline: none;
    caret-shape: block;
}

.console {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: max-content;
    min-width: 1rem;
}

.console::selection {
    background-color: #FFF;
    color: #000;
}

.prompt {
    display: inline-block;
    width: max-content;
}