@import "font.css";
@import "colors.css";


.console {
    margin: 0;
    padding: 0;
    width: 100%;
}

*::selection {
    color: #000;
    background-color: #FFF;
}

.input-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.prompt {
    display: inline-block;
    width: max-content;
    margin-right: 1ch;
    vertical-align: middle;
}

.command {
    color: #FFF;
    background-color: #000;
    border: none;
    height: 1rem;
    width: max-content;
    outline: none;
    caret-shape: block;
    flex-grow: 1;
    vertical-align: middle;
}
